.git
.next
node_modules
dist
out
.turbo
.vscode
.idea
.DS_Store
*.log
logs
tmp
.env
.env.*
!.env.example
npm-debug.log*
yarn-error.log*
pnpm-debug.log*
coverage
*.tsbuildinfo
docker-compose.override.yml
